# **Data Preparation Task**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_excel('/content/england_school_information.xlsx')
df.head()

      URN          LANAME   LA  ...  GENDER            RELCHAR          ADMPOL
0  100000  City of London  201  ...   Mixed  Church of England  Not applicable
1  100001  City of London  201  ...   Girls               None  Not applicable
2  100002  City of London  201  ...   Mixed  Church of England  Not applicable
3  100003  City of London  201  ...    Boys               None  Not applicable
4  100008          Camden  202  ...   Mixed     Does not apply  Not applicable

[5 rows x 24 columns]